.page-container {
    margin-top: $nav-height;
}
nav {
    padding-left: 7%;
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
    background-color: white; 
    box-shadow: 0 1px 2px 0 #2ab4bc;
    height: $nav-height;
    font-family: "Source Sans Pro", sans-serif;
  
  .navbar-brand {
        display: inline;
             img{
                max-width: 10rem;
                height:auto;
              }
          }

}

.navbar-right {
    float: right;
    padding: 1% 2% 0% 0%;
}

nav li { 
    display: inline;
    padding-right: 10%;
    font-size: 1.3em;
}

.searcher img {
    width: 15px;
}

footer {
    background-color: $red;
    padding: 5% 10%;
    color: white;
    overflow: hidden;
    margin-top: 3%;
    width: 100%;
}

footer img {
    float: left;
    width: 5%;
}

footer .sitemap {
    float: right;

}
footer h4{
    color: white;
}

.social-icons{
    float: right;
    padding-left: 5%;
}

.social-icons img {
    width: 30px;
    padding-right: 10px;
}
.sitemap li a{
    color: white;
    font-weight: bold;
}

