<div class="new">
        <h2>Create a new Post</h2>
        <h1> Check out <%=link_to "some posts", posts_path %> for inspiration, or choose a post type below to get started. </h1>
      </div>
      <div class="form">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
