/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face{
    font-family: 'HNUL';
    src:  url('HelveticaNeue-UltraLight.woff');  
}

body {
	
    font-family:'HNUL', sans-serif;
    font-weight: bold;
    background: white

}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

nav {
	box-shadow: 0 1px 2px 0 #2ab4bc;
    font-family: "Source Sans Pro", sans-serif;
	.navbar-brand {
		a {
            color:#2ab4bc;
			text-transform: downcase;
            font-weight: 400;
            letter-spacing: -1px;
            font-size: 3.7rem;
			&:hover {
				text-decoration: none;
			}
             img{
                max-width:50px;
                height:auto;
            }
		}
       
    }
    input{
        margin-top: 5%;
        color: black;
        letter-spacing: 1.2;
           
    }
    input[type="submit"]{
        color:#397CAC;
        border:1px solid #397CAC;
        //padding between text and the border, x and y
        padding: .3em 1em;
        //curvy corners of button
        border-radius: 0.2em;
        //removes the line under the link
        text-decoration: none;
    }
    #search{
        color:gray;
        
    }
}

label{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.04em;   
}
.form-group{
    font-size: 17px;
    letter-spacing: 0.04em;   
}
          

#tag_cloud {
    width:400px;
    line-height: 1.6em;
    font-weight: 600;
    .s{font-size:1em; }
    .m{font-size:1.8em; }
    .l{font-size:2.4em; }
}

#pins {
  margin: 0 auto;
  width: 100%;
  .box {
	  margin: 10px;
	  width: 350px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 25px 10px;
	  	a {
				color: #397CAC;
	  	}
	  }
	  .user {
	  	font-size: 12px;
	  	border-top: 1px solid #EAEAEA;
			padding: 15px;
			margin: 0;
	  }
	}
}

#edit_page {
	.current_image {
		img {
			display: block;
			margin: 20px 0;
		}
	}
}

#pin_show {
	.panel-heading {
		padding: 0;
        color: #397CAC;
	}
	.pin_image {
		img {
			max-width: 100%;
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		h1 {
            color: #397CAC;
			margin: 0 0 10px 0;
		}
		.description {
			color: #868686;
			line-height: 1.75;
			margin: 0;
		}
	}
	.panel-footer {
		padding: 20px 35px;
		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}
     #comments{
        .count{
            padding: 1em;
            font-weight: bold;
        }
        .comment{
            border-bottom: 1px solid #d1d1d1;
            padding-bottom: 1em;
            margin-bottom: 1em;
            .content{
                width: 75%;
                float: left;
            }
            .buttons {
              
                float: left;
                
                font-size: .8em;
                text-align: right;
                padding-top: 1.5em;
                a{
                    
                    color:#397CAC;
                    border:1px solid #397CAC;
                    //padding between text and the border, x and y
                    padding: .5em 1em;
                    //curvy corners of button
                    border-radius: 0.2em;
                    //removes the line under the link
                    text-decoration: none;
                    margin-right: 2%;
                }
                
            }
            .comment_content{
                margin:0;
                padding:0;
            }
            .comment_author{
                color:#397CAC;
                margin-top:.5rem;
                font-size:0.6em;
                font-weight: 700;
            }
            
        }
     }
}

textarea {
	min-height: 250px;
}



































/**************************************
Forum Custom Styling
********************************


general stuff for the whole site
body {
    font-family: "Lato", sans-serif;
    background: #EDEFF0
}

.button{
    color:#397CAC;
    border:1px solid #397CAC;
    //padding between text and the border, x and y
    padding: .5em 1em;
    //curvy corners of button
    border-radius: 0.2em;
    //removes the line under the link
    text-decoration: none;
    margin-right: 2%;
}

//generic settings for content everywhere
.wrapper {
    //ensures full screen spread
    width: 60%;
    max-width: 1140px;
    margin: 0 auto;   
}

// clearfix is for pushing the forum posts down below the header
.clearfix:before, .clearfix:after{
    content: " ";
    display:table;
}
.clearfix:after{
    clear:both;
}

.main_header{
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
    margin: 0 auto;
    background: white;
    #logo{
        
        float: left;
        padding-top: 4%;
        a{
            //logo text manip. I -
           
            text-transform: downcase;
            font-weight: 700;
            letter-spacing: -1px;
            font-size: 1.5rem;
            color: grey;
            text-decoration: none;
            img{
                max-width:50px;
                height:auto;
            }
           
        }
    }
    #buttons{
        float:right;
        a{
            line-height: 84px;
            background: #397CAC;
            padding: .5em 1em;
            border-radius: .2em;
            color: white;
            text-decoration: none;
            font-weight:100;
        
        }
    }
}

#posts{
    //the block holding ALL the displayed posts
    background: white;
    padding: 2em 5%;
    border-radius: .5em;
    padding-top: 0;
    .post{
        //each post block in the above
        margin: 1em 0;
        padding: 1em 0;
        border-bottom: 1px solid #d1d1d1;
        .title{
            //the title/link of the post
            margin:0;
            a{
                //what the link looks like
                color: #397CAC;
                text-decoration: none;
                font-weight: 100;
                font-size:1.25rem;
            }
        }
        .date{
            //the date/emailstamp
            margin-top:.25rem;
            font-size:0.9rem;
            color:#B2BAC2;
        }
        
    }
}
#posts_content{
    background: white;
    padding: 2em 5%;
    border-radius: .5em;
    
    //post t
    h1{
        font-weight: 100;
        font-size: 2em;
        color: #397CAC;
        margin-top:0;
    }
    p{
        color: #373638;
        font-size: 0.9rem;
        font-weight: 125;
        line-height: 1.5;
    }
    #comments{
        .count{
            padding: 1em;
            font-weight: bold;
        }
        .comment{
            border-bottom: 1px solid #d1d1d1;
            padding-bottom: 1em;
            margin-bottom: 1em;
            .content{
                width: 75%;
                float: left;
            }
            .buttons {
                width: 25%; 
                float: left;
                
                font-size: .8em;
                text-align: right;
                padding-top: 1.5em;
                a{
                    
                    color:#397CAC;
                    border:1px solid #397CAC;
                    //padding between text and the border, x and y
                    padding: .5em 1em;
                    //curvy corners of button
                    border-radius: 0.2em;
                    //removes the line under the link
                    text-decoration: none;
                    margin-right: 2%;
                }
                
            }
            .comment_content{
                margin:0;
                padding:0;
            }
            .comment_author{
                color:#397CAC;
                margin-top:.5rem;
                font-size:0.6em;
                font-weight: 700;
            }
            
        }
        //submit button for forms, specifically comments tho
        input[type="submit"]{
            background: #397CAC;
            border: none;
            color: white;
            font-weight: 100;
            padding: .5em 1em;
            border-radius: .2em;
        }
        textarea{
            width: 100%;
            min-height:200px;
            border:1px solid #d1d1d1;
            border-radius: .2em;
            margin: 1em 0;
            
        }
    }
}//end posts content************/